body {
  color: white;
  background-color: #1a1a1a;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 a {
  margin-left: 10px; /* Adjust the margin between the text and the SVG */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 10px; /* Adjust spacing between grid items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.grid-item {
  width: 100%; /* Adjust width of each grid item */
  text-align: center; /* Center-align content within each grid item */
}

.grid-item img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}
